<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [ ]:
!pip install pandas
!pip install matplotlib

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [ ]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [ ]:
# Write your code here
print (df.info())
print("Column Datatypes:")
print(df.dtypes)
print("\nDataset Count:")
print(len(df))
print("\nMissing Values:")
print(df.isnull().sum())

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [10]:
# Write your code here
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [26]:
# Write your code here
print(df['Country'].unique())
print( df['Country'].isnull().sum())
most_frequent = df['Country'].value_counts().idxmax()

[<bound method NDFrame.fillna of 0                                 United States of America
 1        United Kingdom of Great Britain and Northern I...
 2        United Kingdom of Great Britain and Northern I...
 3                                                   Canada
 4                                                   Norway
                                ...
 65432                                                  NaN
 65433                                                  NaN
 65434                                                  NaN
 65435                                              Germany
 65436                                                  NaN
 Name: Country, Length: 65437, dtype: object>                                              ]
0

np.int64(0)

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [ ]:
## Write your code here

# Show all column values without truncation
pd.set_option('display.max_rows', None)  # show all rows
pd.set_option('display.max_colwidth', None)  # show full content of each cell
print(df['Country'].dtypes)
df['Country'] = df['Country'].astype('str').str.strip().str.title()
df['Country'].unique()
#print(df['EdLevel'].unique())

object

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [ ]:
## Write your code here 
df['Employment'] = df['Employment'].astype(str)

#Replace separators with a consistent one
df['Employment'] = df['Employment'].str.replace(';', ',', regex=False)

#Split multiple categories into lists
df['Employment_list'] = df['Employment'].str.split(',')

#Use MultiLabelBinarizer for one-hot encoding
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
employment_dummies = pd.DataFrame(mlb.fit_transform(df['Employment_list']),
                                  columns=mlb.classes_,
                                  index=df.index)
#employment_dummies = pd.get_dummies(df['Employment'], prefix='Employment')
df = pd.concat([df, employment_dummies], axis=1)
df.head()

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [ ]:
## Write your code here
missing_counts = df.isnull().sum()
missing_counts_sorted = missing_counts.sort_values(ascending=False)
print(missing_counts_sorted.head(1))

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [ ]:
## Write your code here
mean_value = df['ConvertedCompYearly'].mean()

df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(mean_value)
df['ConvertedCompYearly'].isnull().sum()

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [ ]:
## Write your code here
most_frequent = df['RemoteWork'].value_counts().idxmax()
df['RemoteWork'] = df['RemoteWork'] .fillna(most_frequent)
df['RemoteWork'].isnull().sum()

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [ ]:
## Write your code here
df['ConvertedCompYearly_Minmax'] = (df['ConvertedCompYearly']-df['ConvertedCompYearly'].min())/(df['ConvertedCompYearly'].max()-df['ConvertedCompYearly'].min())
df['ConvertedCompYearly_Minmax'].head()

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [ ]:
# Write your code here
import numpy as np

df['ConvertedCompYearly_log'] = np.log1p(df['ConvertedCompYearly'])

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [ ]:
## Write your code here
df['YearsCodePro_clean'] = (
    df['YearsCodePro']
    .replace({
        'Less than 1 year': 0,
        'More than 50 years': 51
    })
)
df['YearsCodePro_clean'] = pd.to_numeric(
    df['YearsCodePro_clean'], errors='coerce'
)
df['ExperienceLevel'] = pd.cut(df['YearsCodePro_clean'],bins=[-1, 2, 5, 10, np.inf],labels=['Entry-level', 'Mid-level', 'Senior-level', 'Expert']
)
df['ExperienceLevel'] = df['ExperienceLevel'].cat.add_categories('Unknown')
df['ExperienceLevel'] = df['ExperienceLevel'].fillna('Unknown')

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright Â© IBM Corporation. All rights reserved.